table {
  border-collapse: collapse !important;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

td, th, tr {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

thead {
  background-color: #E4EAFD;
  color: gray;
}

